[Unit]
Description=Set List Service
[Service]
User=jenkins
WorkingDirectory=/opt/flask-app/setlist-app
EnvironmentFile=/opt/flask-app/flask.env
ExecStart=/bin/sh \
    -c 'cd /opt/flask-app/setlist-app &&\
    python3 -m venv venv &&\
    source venv/bin/activate &&\
    pip3 install - requirements.txt &&\
    python3 create.py &&\
    python3 app.py'
[Install]
WantedBy=multi-user.target
